*{
  margin: 0;
  padding: 0;
	border: 0;
	text-transform: uppercase;
  font-weight: 300;
  color: white;
}

.picture{
	top: 0;
	left: 0;
  /*z-index: -1000;*/
	width: 100%;
	height: 120%;
  overflow: hidden;
  position:fixed;
}

.layer{
  position: fixed;
  width: 100%;
  min-height: 100%;
  /*z-index: -100;*/
  background-color: rgba(0,0,0,0.7);
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60vw;
	padding: 20px;
  font-family: 'Carrois Gothic SC', sans-serif;
}

.info{
	text-align: center;
	margin: 0 70px 70px;
}

span{
	padding: 30px;
}

.question{
	font-size: 30px;
	margin-bottom: 20px;
}

ul {
	list-style-type: none;
	margin: 10px 0;
	text-align: center;
}

li li {
	display: inline-block;
	width: 20%;
	padding: 10px 15px;
	margin: 30px 4px;
	border: 1px solid black;
	cursor: pointer;
}

li li:hover {
	background: #EEAB00;
}

button {
	padding: 10px 100px;
	cursor: pointer;
	border: none;
	font-size: 18px;
	color: black;
}

.end{
	text-align: center;
	color: #EEAB00;
	font-size: 40px;
}
